---
import Body from '../layouts/Body.astro'

import '../styles/global.css'
import ArticleCard from '../components/ArticleCard.astro'

const allPosts = await Astro.glob("./posts/*.md")
---

<style>
	ul {
		list-style: none;
		padding: 0;
		margin: 0;
	}
</style>

<Body title="Home" headline="Articles">
	<ul>
    {allPosts.map(post => 
			<ArticleCard 
				url={post.url} 
				title={post.frontmatter.title} 
				description={post.frontmatter.description} 
				published_at={post.frontmatter.published_at}
			/> 
		).reverse()}
  </ul>
</Body>
