@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap");

:root {
  --n10: #fafbfc;
  --n300: #5e6c84;
  --n400: #505f79;
  --n900: #091e42;

  --fs-h600: 20px;
  --lh-h600: 24px;
  --fs-h800: 29px;
  --lh-h800: 32px;
  --fs-h900: 35px;
  --lh-h900: 40px;
}

body {
  margin: 0;
  font-family: "Lato", "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell",
    "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
