@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap");

:root {
  --g200: #57d9a3;

  --n10: #fafbfc;
  --n40: #dfe1e6;
  --n200: #6b778c;
  --n300: #5e6c84;
  --n400: #505f79;
  --n900: #091e42;

  --n200a: rgba(9, 30, 66, 0.6);
  --n800a: rgba(9, 30, 66, 0.95);

  --fs-h600: 20px;
  --lh-h600: 24px;
  --fs-h700: 24px;
  --lh-h700: 28px;
  --fs-h800: 29px;
  --lh-h800: 32px;
  --fs-h900: 35px;
  --lh-h900: 40px;
}

body {
  margin: 0;
  font-family: "Lato", "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell",
    "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--n10);
}

textarea {
  font-family: "Lato", "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell",
    "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
}
