---
import Body from "./Body.astro";
const { frontmatter } = Astro.props;
---

<style>
  .meta {
    margin-bottom: 80px;
  }

  .meta p {
    margin: 2px 0;
    color: var(--gray);
  }
</style>

<Body title={frontmatter.title} headline={frontmatter.title}>
  <div class="meta">
    <p>Autor: {frontmatter.author}</p>
    <p>
      Publicado: {
        new Date(frontmatter.published_at).toLocaleDateString("es-ES")
      }
    </p>
  </div>
  <div class="content">
    <slot />
  </div>
</Body>
